body {
    background-color: cadetblue;
    box-sizing: border-box;
}

#frmResize {
    padding: 1rem;
    border: 2px solid black;
    border-radius: 0.5rem;
    margin: 1rem auto;
    width: fit-content;
    max-height: 30vh;
}

#previewDiv {
    margin: 2rem auto;
    width: fit-content;
    max-width: calc(100vw - 2rem);
    max-height: calc(70vh - 2rem);
    overflow: auto;
}

.meter{
    width:calc(100% - 2rem);
    display:flex;
    margin:1rem 2rem 1rem 0;
}

.col {
    display: grid;
    justify-items: start;
    gap: 1rem;
    grid: 1fr/repeat(3, 1fr);
}

