.frmResize {
    padding: 1rem;
    border: 2px solid black;
    border-radius: 0.5rem;
    margin: 1rem auto;
    width: fit-content;
    max-width: calc(100dvw - 2rem);
    background-color: cadetblue;
}

.preview {
    margin: 2rem auto;
    width: fit-content;
    max-width: calc(100vw - 2rem);
    max-height: calc(80vw - 2rem);
    overflow: auto;
}

h2.headerTitle {
    font-size: clamp(1.5rem,4vh,2rem);
}

.meter {
    display: flex;
    margin: 1rem 0;
}

.col2 {
    columns: auto 2;
}

.col3 {
    columns: auto 3;
}

.col {
    gap: 1rem;
}

    .col > label {
        display: block;
        break-inside: avoid;
    }

        .col > label > input:not([type="radio"]) {
            width: 100%;
            max-width: 100%;
        }
