html,body {
    margin:0px;
    padding:0px;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: blueviolet;
}
/*header classes*/
.hdr {
    display: flex;
    justify-content: flex-start;
    margin:1em 1em 0 1em;  
}

.hdrImg {   
    position: fixed;
    border: 3px solid white;
    border-radius:50%;
    height:10rem;
    top:1rem;
    left: 1rem;;
}

.hdrTitel{
    margin:unset;
    margin-left:11rem;
    font-family: 'Lucida Handwriting', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:darkblue;
    font-style: italic;
    align-self: flex-end;
    text-align:center;
    flex:1;
   font-size: 4rem;;
   border-bottom: 3px solid blue;
}

.hdrMenu {
    display: flex;
    justify-content: flex-end;
    gap: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    align-items: flex-end;  
    border-bottom: 3px solid blue;
}

.hdrBtn{
    all:unset;

    cursor:pointer;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
}

.hdrBtn:hover {
    color:silver;    
}

.main{
    flex:1;
}

#content {
    max-width: 50%;
    margin: 1em auto;
}


/*footer classes*/
.footer{
    background-color:black;
    color:white;
    border-top:3px solid blue;
    height:100px;
}

/* page classes */
.aboutMe {
    background-color: white;
    border:3px solid black;
    color:black;
    position:relative;
    padding:1rem;
    box-shadow: 1rem 1rem 0 2rem blue;
}

.sidebar {
    width:20rem;
    border-right:3px solid blue;
    height:100%;
}